<%# <!-- views/form.erb　-->
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">

    <input type="submit" value="送信する">
</form> %>

<%# イメージをループ文を使って全て表示 %>
<%# imagesディレクトリのファイルをimgタグで表示する %>
<% @images.each do |image| %>
    <img src="/image/<%= image %>" />
<% end %>


<%# ログイン %>
<form action="/login" method="POST">
  <label for="name">name:</label>
  <input type="text" name="name" id="name" />
  <label for="password">password：</label>
  <input type="password" name="password" id="password"/>

  <input type="submit" value="ログイン">
</form>